@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Urbanist:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root{
    --whiteColor:#fff;
    --orangeColor:rgba(254, 138, 0, 1);
    --darkYellow:rgba(248, 179, 38, 1);
    --pinkColor:rgba(255, 16, 85, 1);
    --darkPink:rgba(246, 27, 90, 1);
    --darkColor:rgba(0, 0, 0, 0.75);
    --greyColor:rgba(0, 0, 0, 0.5);
    --bgGradient:linear-gradient(to bottom, rgba(255, 16, 85, 1) 0%,rgba(254, 138, 0, 1)100%);
    --transition: 0.5s ease-in-out;
    --paddingTop:30px;
    --paddingBottom:30px;
    --borderradius:15px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.7rem;
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-image: var(--bgGradient);
    border-radius: 0.3rem;
}
::selection{
    background-color: var(--orangeColor);
    color:#fff;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.text-center{
    text-align: center;
}
.mt-10{
    margin-top: 10px;
}
.mt-25{
    margin-top: 25px;
}
.mt-40{
    margin-top: 40px;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.grid{
    display: grid;
}
p{
    color: var(--greyColor);
}
img{
    width: 100%;
}
.button{
    color: var(--pinkColor);
    font-size: 17px;
    font-weight: 500;
    background-color: var(--whiteColor);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%);
}
.container{
    width: 90%;
    margin: auto;
}
.main-heading h2{
    color: var(--darkColor);
    font-weight: 500;
    font-size: 35px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--darkPink), var(--orangeColor));
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
}
section,footer{
    background-color: #F9F9F9;
}
/* Start navbar */
nav{
    background-color:var(--whiteColor);
    padding:10px 0 ;
    position: relative;
}
nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    animation: fadeInDown .4s ease-in-out 0s 1;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.logo img{
    width: 45px;
}
.logo p{
    font-weight: 500;
    color: var(--orangeColor);
}
.logo p span{
    color: var(--pinkColor);
}
nav .user a i{
    color: var(--darkColor);
    font-size: 20px;
}
/* Start Banner */
.banner{
    width: 100%;
    background-color: var(--orangeColor);
    background-image: url(../Images/icons.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.banner .row .banner-img-1,
.banner .row .banner-img-2{
    position: relative;
    top: 4px;
}
.banner .row .banner-content h1{
    color: var(--whiteColor);
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}
/* Start Product */
.product{
    padding:50px 0;
}
.product .product-boxes{
    grid-template-columns: repeat(4 , minmax(230px , 1fr));
    gap: 25px;
}
.product .product-boxes .card .card-img{
    border-radius: var(--borderradius);
    overflow: hidden;
}
.product .product-boxes .card .card-img img{
    border-radius: var(--borderradius);
    transition: var(--transition);
    height: 378px;
    object-fit: cover;
}
.product .product-boxes .card .card-img:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
.product .product-boxes .card .card-img button{
    position: absolute;
    top: 6%;
    right: 7%;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--darkColor);
    background-color: var(--whiteColor);
}
.product .product-boxes .card .card-img button i{
    color: var(--darkColor);
    font-size: 20px;
    cursor: pointer;
}
.liked{
    color:red !important;
}
.product .product-boxes .card .card-body{
    padding: 15px 0;
}
.info{
    margin-bottom: 10px;
}
.info span{
    color: var(--darkColor);
    font-weight: 500;
    font-size: 18px;
    transition: var(--transition);
}
.info span:last-of-type{
    color: var(--darkPink);
}
/* footer */
footer{
    padding: 80px 0;
}
footer .row{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 30px;
}
footer .footer__card .footer__card--desc{
    margin-top: 20px;
    color:#333;
}
footer .footer__card h3{
    color:var(--darkPink);
    margin-top: 10px;
}
footer .footer__card ul{
    margin-top: 30px;
}
footer .footer__card ul li:not(:first-child){
    padding-top: 10px;
}
footer .footer__card ul li a{
    color:#333;
}
.social-icons a{
    display: inline-block;
    color: var(--whiteColor);
    background: var(--pinkColor);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 17px;
}
.social-icons a:not(:first-child){
    margin-left: 10px;
}
footer .row .about .social-icons a:hover{
    color: #fff;
    background-color: var(--primaryColor);
}
/* Start Shopping */
.product-shopping{
    grid-template-columns: 45% 55%;
    gap: 60px;
    padding-top: var(--paddingTop);
    padding-bottom: var(--paddingBottom);
}
.product-shopping_img #item{
    height: 600px;
    object-fit: cover;
}
.product-shopping_content .new-product{
    background-color: #EEF0F2;
    color: var(--pinkColor);
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 20px 5px 8px;
}
.product-title , .product-price{
    font-weight: 700;
    font-size: 36px;
    color: #252c32;
    margin: 15px 0;
}
.product-brand{
    font-size: 14px;
    color: #6E7C87;
    margin: 15px 0;
}
.product-details li,
.product-availbilty,
.product-size,
.size-list li,
.add-product{
    font-weight: 400;
    font-size: 14px;
    color: #252c32;
}
.product-details li{
    margin-top: 6px;
}
.product-availbilty{
    margin: 20px 0;
}
.product-size{
    display: block;
    margin: 40px 0 10px;
}
.size-list{
    gap: 30px;
    margin-bottom: 15px;
}
.size-list li{
    background-color: #F6F8F9;
    padding: 8px 16px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}
.size-list li.active{
    font-weight: 600;
    color: var(--whiteColor);
    background-color: var(--pinkColor);
    transition: var(--transition);
}
.cart-btn{
    outline: none;
    border: none;
    gap: 7px;
    margin: 25px 0;
    padding: 15px 0;
    width:100%;
    cursor: pointer;
}
.add-product{
    transition: var(--transition);
    transform: scale(0);
}
.add-product.active{
    transform: scale(1);
}
/* Start Login */
.login{
    padding: 50px 0;
}
.login .login-info h4{
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #1A2530;
}
.welcome-text{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    margin: 15px 0 19px;
    color: #707B81;
}
.login_description{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 20px;
    color: #212121;
}
form{
    width: 470px;
    margin: auto;
    padding: 20px;
}
.input-box{
    margin-bottom: 10px;
    position: relative;
}
.input-title{
    display: block;
    margin-bottom: 10px;
    color: var(--darkColor);
}
.input-box input[type="email"],
.input-box input[type="password"]{
    width: 100%;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid var(--orangeColor);
}
.input-box input[type="checkbox"],label{
    cursor: pointer;
    accent-color: var(--darkYellow);
}
.input-box input[type="submit"]{
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}
.input-box.success input{
    border-color: #2ecc71;
}
.input-box.error input{
    border-color: #e74c3c;
}
.input-box p{
    color: #e74c3c;
    margin: 6px 5px 0;
    visibility: hidden;
}
.input-box.error p{
    visibility: visible;
}
.input-box i{
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 10px;
    visibility: hidden;
}
.input-box.success i.bx-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.input-box.error i.bx-error{
    color: #e74c3c;
    visibility: visible;
}
/* =============== Back To Top ================== */
.backToTop{
    position: fixed;
    right: 22px;
    bottom:20px;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    z-index: 99;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translateY(100px);
    transition:var(--transition);
}
.backToTop a i{
    color: var(--darkPink);
    font-size: 25px;
    line-height: 40px;
}